:root {
  --color-severewarning: #d83b01;
}
.control-pane {
  text-align: left;
}
.DP_filters .filterSubmit {
    padding-top: 10px; 
    padding-bottom: 30px; 
    text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}